// colors
$border-text-line-color: #361F82;
$search-icon-bc: #E8E6E6;
$btn-background-color: #2F1D77;
$light-text-color: #ffffff;
$dark-text:#242C2D;
$teal-color: #1cb5a9;
$border-numbers-color:#FFFFFF33;
$white-box-bg:#E6EDEE;


$transition-smooth: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);