// colors
$border-text-line-color: #361F82;
$search-icon-bc: #E8E6E6;
$btn-background-color: #2F1D77;
$light-text-color: #ffffff;
$dark-text: #242C2D;
$teal-color: #1cb5a9;
$border-numbers-color: #FFFFFF33;
$white-box-bg: #E6EDEE;
$what-we-offer-bg: linear-gradient(197.14deg, rgba(47, 29, 119, 0) -53.35%, rgba(47, 29, 119, 0.938766) 22.7%, #2F1D77 35.91%);
$set-up-your-business-bg:#5A5862;
$set-up-your-business-button-bg:#DFCDBD;
$read-more:#014C59;
$footer-bg-color:linear-gradient(190.8deg, #2F1D77 44.05%, rgba(47, 29, 119, 0) 320.61%);

$transition-smooth: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);