@import 'scss/variable';
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Gilroy-400";
    src: url(./fonts/Gilroy-Regular.woff) format('truetype');
}

@font-face {
    font-family: "Gilroy-500";
    src: url(./fonts/Gilroy-Medium.woff) format('truetype');
}

@font-face {
    font-family: "Gilroy-600";
    src: url(./fonts/Gilroy-Semibold.woff) format('truetype');
}


@font-face {
    font-family: "Gilroy-700";
    src: url(./fonts/Gilroy-Bold.woff) format('truetype');
}


body {
    margin: 0;
    color: $dark-text !important;
    font-family: 'Gilroy-400', sans-serif;
    position: relative;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

// Header start 
header {
    padding: 0 44px;

    @media (max-width:900px) {
        padding: 0 10px;
    }

}

.navbar-brand {

    // Desktop screen 
    @media (max-width: 1566px) {
        img {
            width: 200px;
        }
    }

    // laptop screen 
    @media (max-width: 1370px) {
        img {
            width: 150px;
        }
    }

    // Ipad screen 
    @media (max-width: 1052px) {
        img {
            width: 110px;
        }
    }
}

.navbar-nav {
    .nav-item {
        font-family: 'Gilroy-600', sans-serif;
        font-size: 14px;

        // Desktop screen 
        @media (min-width: 1566px) {
            font-size: 21px;

            a {
                img {
                    width: 10px;
                }
            }
        }

        // laptop screen
        @media (max-width: 1589px) {
            font-size: 17px;

            a {
                img {
                    width: 7px;
                }
            }
        }

        // laptop screen
        @media (max-width: 1459px) {
            font-size: 14px;

            a {
                img {
                    width: 5px;
                }
            }
        }

        //  less then laptop
        @media (max-width: 1221px) {
            font-size: 11px;

            a {
                img {
                    width: 5px;
                }
            }
        }

        @media (max-width: 1100px) {
            font-size: 9px;

            a {
                img {
                    width: 5px;
                }
            }
        }

    }

    .nav-link {
        color: $dark-text !important;
    }
}

.buttens-header {
    font-size: 14px;
    margin-left: 36px;
    gap: 16px;
    display: flex;
    align-items: center;

    // Desktop screen 
    @media (min-width:1566px) {
        font-size: 15px;
        margin-left: 25px;
        gap: 10px;
    }

    // laptop screen
    @media (max-width: 1370px) {
        font-size: 10px;
        margin-left: 10px;
        gap: 6px;
    }

    .language-option {
        border: 1px solid $border-text-line-color;
        border-radius: 30px;
        font-size: 16px;
        font-family: 'Gilroy-400', sans-serif;
        background-color: $light-text-color;
        color: $border-text-line-color;

        // Desktop screen 
        @media (min-width: 1566px) {
            a {
                .flag-qatar {
                    width: 20px;
                }

                .arrow-option {
                    width: 11px;
                }
            }
        }

        // laptop screen 
        @media (max-width: 1370px) {
            font-size: 12px;

            a {
                .flag-qatar {
                    width: 11px;
                }

                .arrow-option {
                    width: 7px;
                }
            }
        }
    }

    .search-icon {
        border-radius: 50%;
        border: none;
        background-color: $search-icon-bc;
        cursor: pointer;

        // Desktop screen 
        @media (min-width: 1566px) {
            a {
                img {
                    width: 20px;
                }
            }
        }

        // laptop screen 
        @media (max-width: 1370px) {
            a {
                img {
                    width: 12px;
                }
            }
        }
    }

    .start-button-header {
        border: 1px solid $border-text-line-color;
        border-radius: 30px;
        font-family: 'Gilroy-600', sans-serif;
        font-size: 20px;
        background-color: $btn-background-color;
        color: $light-text-color;
        padding: 12px 21px;

        @media (max-width:1370px) {
            font-size: 13px;
        }

        &:hover {
            background-color: $light-text-color;
            color: $btn-background-color !important;
        }
    }
}

// Header end 

// Section-1 start 
.hero-section-container {
    padding: 0px 44px;

    @media (max-width:900px) {
        padding: 0 10px;
    }
}

.hero-section {
    margin-top: 5px;
    height: 840px;
    position: relative;
    // background-image: url(./assets/Bg-img.png);
    border-radius: 25px;
    overflow: hidden;

    // laptop screen 
    @media (max-width:1500px) {
        height: 650px;
    }

    .hero-section-text {
        color: $light-text-color;
        font-size: 78px;
        line-height: 87px;
        font-weight: 600;
        top: 26%;
        left: 12%;
        position: absolute;

        // laptop screen 
        @media (max-width:1500px) {
            font-size: 45px;
            line-height: 60px;
            left: 18%;
        }

        // ipad screen 
        @media (max-width:718px) {
            top: 20%;
            font-size: 28px;
            line-height: 40px;
            left: 14%;
        }
    }

    .hero-watch-video {
        position: absolute;
        top: 60%;
        left: 12%;
        gap: 15px;

        // laptop screen 
        @media (max-width:1500px) {
            top: 45%;
            left: 18%;
        }

        // ipad screen
        @media (max-width:718px) {
            top: 40%;
            left: 14%;
        }

        .img-wrapper {
            position: relative;
            border-radius: 50%;
            border: 2px solid $border-numbers-color ;
            border-top-color: $light-text-color;

            // laptop screen 
            @media (max-width:1500px) {
                img {
                    height: 32px;
                    width: 32px;
                }
            }
        }

        .label {
            font-size: 18px;
            font-weight: 600;
            color: $light-text-color;

            // laptop screen 
            @media (max-width:1500px) {
                font-size: 15px;
            }
        }

        .numbers {
            width: 40px;
            height: 40px;
            border: 2px solid $border-numbers-color;
            border-radius: 50%;
            color: $light-text-color;
            font-size: 18px;

            // laptop screen 
            @media (max-width:1500px) {
                font-size: 15px;
                height: 32px;
                width: 32px;
            }
        }
    }

    .img-bottom {
        position: absolute;
        bottom: 0;
        top: 58%;
        left: 4%;
        gap: 20px;
        z-index: 10;

        // laptop screen 
        @media (max-width:1500px) {
            top: 43%;
        }

        // ipad screen 
        @media (max-width:718px) {
            top: 43%;
            left: 14%;
        }

        .scroll-wrapper {
            position: relative;
            padding-top: 100px;

            &::before {
                content: "";
                position: absolute;
                top: 26%;
                left: 125%;
                width: 3px;
                height: 150px;
                background-color: $border-numbers-color;

                // laptop screen 
                @media (max-width:1500px) {
                    height: 100px;
                    top: 42%;
                }

            }
        }

        .scroll-text {
            color: $light-text-color;
            font-size: 14px;
            font-weight: 600;
            writing-mode: vertical-rl;
            transform: rotate(180deg);

            // laptop screen 
            @media (max-width:1500px) {
                font-size: 10px;
            }
        }

        .scroll-img {
            width: 16px;
            height: auto;
            margin-bottom: -5px;
            z-index: 2;
        }

        .polygon-img {
            position: absolute;
            bottom: 16%;
            width: 90px;
            display: block;
            margin-top: auto;

            // laptop screen 
            @media (max-width:1500px) {
                bottom: 49%;
                width: 75px;
            }
        }
    }
}

// Section-1 end

// Why Qatar Section start
.why-qatar {
    padding: 0px 44px;

    @media (max-width:900px) {
        padding: 0 5px;
    }

    position: relative;

    .section-title {
        font-family: 'Gilroy-700';
        font-size: 48px;
        line-height: 64px;
        color: $dark-text;

        // ipad phone screen 
        @media (max-width:1024px) {
            font-size: 30px;
            line-height: 40px;
        }
    }

    .section-desc {
        font-family: 'Gilroy-400', sans-serif;
        font-size: 24px;
        line-height: 32px;

        // ipad phone screen 
        @media (max-width:1024px) {
            font-size: 20px;
            line-height: 26px;
        }
    }

    .btn-read-more {
        text-decoration: none;
        color: $dark-text;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.85px;
        border-bottom: 1px solid $teal-color;
        padding-bottom: 10px;
        transition: $transition-smooth;

        // ipad phone screen 
        @media (max-width:1024px) {
            font-size: 14px;
        }

        img {
            margin-left: 12px;
        }

        &:hover {
            color: $teal-color;

        }
    }

    .qatar-card {
        display: block;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        text-decoration: none;

        figure {
            position: relative;

            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
                transition: transform 0.6s ease;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: linear-gradient(to top, #000000CC 0%, transparent 50%);
            }
        }

        figcaption {
            position: absolute;
            bottom: 25px;
            left: 20px;
            right: 20px;
            color: $light-text-color;
            font-size: 23px;
            font-weight: 700;
            z-index: 2;
            line-height: 30px;
        }
    }
}

// Why Qatar Section end

// About MCQ Section start
.about-mcq {
    padding: 0px 44px;

    @media (max-width:900px) {
        padding: 0 10px;
    }

    .section-title {
        font-family: 'Gilroy-700', sans-serif;
        font-size: 48px;
        line-height: 64px;
        color: $dark-text;

        // phone screen 
        @media (min-width:994px) {
            margin-bottom: 28%;
        }

        // ipad screen 
        @media (max-width:1024px) {
            font-size: 30px;
            line-height: 40px;
        }
    }

    .section-desc {
        font-family: 'Gilroy-400', sans-serif;
        font-size: 24px;
        line-height: 36px;
        color: $dark-text;
        margin-bottom: 50px;

        // ipad phone screen 
        @media (max-width:1024px) {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 35px;
        }
    }

    .btn-read-more {
        text-decoration: none;
        color: $dark-text;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.85px;
        border-bottom: 1px solid $teal-color;
        padding-bottom: 10px;

        // ipad phone screen 
        @media (max-width:1024px) {
            font-size: 14px;
        }

        img {
            margin-left: 12px;
        }

        &:hover {
            color: $teal-color;
        }
    }
}

// About MCQ Section end

// Boxes start 
.beliefs-hq {
    padding: 0px 44px;

    @media (max-width:900px) {
        padding: 0 5px;
    }

    .belief-wrapper,
    .hq-wrapper {
        background-color: $white-box-bg;
        border-radius: 20px;
    }

    .card-main-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
        color: $dark-text;

        @media (max-width:1100px) {
            font-size: 22px;
            line-height: 15px;
        }
    }

    .belief-card {
        display: block;
        background-color: $light-text-color;
        padding: 30px 20px;
        border-radius: 15px;
        text-decoration: none;
        position: relative;
        height: 100%;
        border: 1px solid $teal-color;

        .arrow-up-right {
            position: absolute;
            top: 20px;
            right: 20px;
            color: $teal-color;
        }

        h4 {
            color: $dark-text;
            font-size: 24px;
            font-weight: 600;
            margin-top: 40px;
            margin-bottom: 15px;

            @media (max-width:1100px) {
                font-size: 18px;
                margin-top: 30px;
                margin-bottom: 10px;
            }
        }

        p {
            color: $dark-text;
            font-size: 18px;
            font-family: 'Gilroy-400', sans-serif;
            line-height: 1.5;
            margin-bottom: 0;

            @media (max-width:1100px) {
                font-size: 14px;
            }
        }
    }

    .hq-image-box {
        border-radius: 15px;
        overflow: hidden;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Boxes end

// What We Offer start 
.what-we-offer-cart {
    color: $light-text-color;
    padding: 0px 44px;

    @media (max-width:900px) {
        padding: 0 10px;
    }

    .offer-wrapper {
        background-color: $btn-background-color;
        padding: 60px 0;
        border-radius: 20px;
        position: relative;
    }

    .what-offer-section1 {
        margin-bottom: 70px;
    }

    .offer-header-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        border-top: 2px solid $border-numbers-color;

        &::before {
            content: "";
            position: absolute;
            left: 130px;
            top: -88px;
            width: 2px;
            height: 65px;
            background-color: $border-numbers-color;

            @media (max-width:994px) {
                left: 120px;
            }

            @media (max-width:800px) {
                left: 70px;
                top: -88px;
            }
        }

        .offer-label {
            font-size: 20px;
            font-family: 'Gilroy-500', sans-serif;
            line-height: 54px;
            padding: 0 20px;
            letter-spacing: 20%;
            position: absolute;
            z-index: 10;
            background: $what-we-offer-bg;
            left: 85px;

            @media (max-width:800px) {
                font-size: 15px;
                font-family: 'Gilroy-500', sans-serif;
                line-height: 34px;
                left: 30px;
                letter-spacing: 15%;
            }
        }
    }

    .what-offer-section2 {
        padding: 0px 100px;

        @media (max-width:800px) {
            padding: 0px 50px;
        }

        h2 {
            font-size: 40px;
            font-family: 'Gilroy-700', sans-serif;
            line-height: 50px;

            @media (max-width:1024px) {
                font-size: 35px;
                line-height: 40px;
            }

            @media (max-width:800px) {
                font-size: 28px;
                line-height: 30px;
            }
        }

        p {
            font-size: 20px;
            font-family: 'Gilroy-400', sans-serif;
            line-height: 30px;

            @media (max-width:1024px) {
                font-size: 16px;
                line-height: 24px;
            }

            @media (max-width:800px) {
                font-size: 14px;
                line-height: 18px;
            }
        }

        .btn-read-more {
            display: inline-block;
            text-decoration: none;
            color: $light-text-color;
            font-size: 16px;
            font-family: 'Gilroy-500', sans-serif;
            letter-spacing: 0.85px;
            border-bottom: 1px solid $search-icon-bc;
            padding-bottom: 5px;
            transition: $transition-smooth;

            @media (max-width:1024px) {
                font-size: 13px;
            }

            img {
                margin-left: 2px;
            }
        }
    }


    .what-offer-section3 {
        padding: 0px 100px;

        @media (max-width:800px) {
            padding: 0px 50px;
        }

        h4 {
            font-size: 24px;
            font-family: 'Gilroy-700', sans-serif;
            line-height: 33px;

            @media (max-width:800px) {
                font-size: 21px;
                line-height: 30px;
            }
        }

        p {
            font-size: 18px;
            font-family: 'Gilroy-400', sans-serif;
            line-height: 26px;

            @media (max-width:1024px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .border-wrapper {
        border-bottom: 1px solid $border-numbers-color;
    }
}

// What We Offer end

// Set up your business start
.Set-up-your-business {
    position: relative;
    overflow: hidden;
    background-color: $set-up-your-business-bg;
    color: $light-text-color;
    background-size: cover;

    #myVideo {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;

        z-index: 0;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .set-up-your-business-wrapper {
        position: relative;
        z-index: 2;
    }

    @media(max-width:767px) {
        padding: 0px 10px;
    }

    h2 {
        font-size: 36px;
        font-family: 'Gilroy-700', sans-serif;
        line-height: 50px;

        @media (max-width:1024px) {
            font-size: 30px;
            line-height: 40px;
        }

        @media (max-width:800px) {
            font-size: 26px;
            line-height: 30px;
        }
    }

    p {
        font-size: 20px;
        font-family: 'Gilroy-400', sans-serif;
        line-height: 30px;

        @media (max-width:1024px) {
            font-size: 16px;
            line-height: 24px;
        }

        @media (max-width:800px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .set-up-img {
        border-radius: 20px;
        overflow: hidden;
        max-height: 600px;

        @media(max-width:767px) {
            max-height: 450px;

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .right-set-up {
        @media(max-width:767px) {
            margin-top: 65px;
        }

        h4 {
            font-size: 24px;
            font-family: 'Gilroy-700', sans-serif;
            line-height: 33px;

            @media (max-width:800px) {
                font-size: 21px;
                line-height: 30px;
            }
        }

        p {
            font-size: 18px;
            font-family: 'Gilroy-400', sans-serif;
            line-height: 26px;

            @media (max-width:1024px) {
                font-size: 14px;
                line-height: 20px;
            }
        }

        .forth-right {
            border-top: 1px solid $border-numbers-color;
        }

        .right-button {
            border: 1px solid $border-text-line-color;
            border-radius: 30px;
            font-weight: 600;
            background-color: $set-up-your-business-button-bg;
            font-size: 20px;
            min-width: 155px;
            min-height: 50px;

            @media (max-width: 1024px) {
                font-size: 12px;
                min-width: 120px;
                min-height: 40px;
            }
        }
    }
}

// Set up your business end 

// Our Clients start 
.header-our-clients {
    position: relative;

    .line {
        border: 1px solid $border-text-line-color;
        opacity: 0.2;
    }

    .our-clients-label {
        font-size: 22px;
        font-family: 'Gilroy-500', sans-serif;
        letter-spacing: 20%;
        background-color: $light-text-color;
        z-index: 2;
        color: $dark-text;
        position: absolute;
        top: -16px;
        left: 15%;
    }
}

.our-clients {
    h4 {
        font-size: 24px;
        font-weight: 600;
    }

    p {
        font-size: 18px;
        font-family: 'Gilroy-400', sans-serif;
        line-height: 29px;
    }


    .client-card {
        row-gap: 15px;

        @media (min-width:992px) {
            row-gap: 20px;
            padding-right: 20px;
            padding-left: 45px;
            border-right: 1px solid $border-text-line-color ;

            &:nth-child(1) {
                padding-left: 0px;
            }
        }
    }


}

// Our Clients end

// Get in touch with us start
.contact-us {

    h2 {
        font-size: 48px;
        line-height: 64px;
        font-family: 'Gilroy-700';
    }

    .contact-wrapper {
        position: relative;
        background: url('./assets/get\ in\ touch\ img.png') no-repeat center center;
        background-size: cover;
        border-radius: 25px;
        overflow: hidden;

        .contact-header {
            @media (max-width:991px) {
                text-align: center;
            }
        }
    }

    .btn-reach-out {
        display: inline-flex;
        align-items: center;
        background-color: $light-text-color;
        color: $btn-background-color;
        padding: 8px 25px;
        border-radius: 50px;
        border-width: 1px;
        text-decoration: none;
        font-weight: 600;
        gap: 10px;

        @media (max-width:991px) {
            padding: 7px 8px;
        }

        @media (max-width:767px) {
            padding: 10px 15px;
        }

        a {
            font-size: 20px;
            font-weight: 600;

            @media (max-width:991px) {
                font-size: 17px;
            }
        }
    }

    .contact-card {
        background-color: $light-text-color;
        border-radius: 16px;
        padding: 30px 20px;
        height: 100%;

        h4 {
            font-size: 24px;
            font-weight: 600;
            line-height: 30px;

        }

        p {
            font-size: 18px;
            line-height: 29px;
            font-family: 'Gilroy-400', sans-serif;
        }

        @media (max-width:1199px) {
            h4 {
                font-size: 18px;
                line-height: 30px;

            }

            p {
                font-size: 14px;
                line-height: 29px;
            }
        }

        .icon-box {
            color: $btn-background-color;
            font-size: 30px;
            margin-bottom: 25px;
        }

        .social-icons {
            display: flex;
            gap: 20px;
            justify-content: center;
            margin-top: 15px;

            @media (max-width:767px) {
                justify-content: flex-start;
            }

            a {
                color: $dark-text;
                font-size: 16px;
                text-decoration: none;

                &:hover {
                    color: $teal-color;
                }
            }

        }
    }
}

// Get in touch with us end

// Media center start
.media-center-warpper {
    h1 {
        font-size: 48px;
        font-family: 'Gilroy-700', sans-serif;
        line-height: 64px;
    }

    p {
        font-size: 22px;
        line-height: 32px;
        font-family: 'Gilroy-400', sans-serif;
    }

    .btn-Explore {
        text-decoration: none;
        color: $dark-text;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.85px;
        border-bottom: 1px solid $teal-color;
        padding-bottom: 10px;
        transition: $transition-smooth;

        // ipad phone screen 
        @media (max-width:1024px) {
            font-size: 14px;
        }

        img {
            margin-left: 12px;
        }

        &:hover {
            color: $teal-color;
        }
    }
}

.media-center-card {
    .card-container {
        img {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .read-more {
        color: $read-more;
        font-size: 20px;
        line-height: 74px;
        text-underline-position: under;
    }

    .top-text {
        .date {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 6%;
            color: $btn-background-color;
        }

        .text {
            font-size: 16px;
            font-weight: 600;
            color: $teal-color;
        }

        .card-text {
            font-size: 24px;
            line-height: 32px;
            font-weight: 900;
        }
    }
}

// Media center end


// Footer section start
.footer-card {
    color: $light-text-color;
    border-radius: 25px;
    background-image: url(./assets/footer-bg.svg);
    background-size: auto 120%;

    .email-box {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 270px;

        .email-input {
            width: 100%;
            padding: 12px 50px 12px 20px;
            background: $footer-bg-color;
            color: $light-text-color;
            border: 2px solid $light-text-color;
            border-radius: 50px;
            outline: none;

            &::placeholder {
                color: $light-text-color;
            }
        }

        .icon {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: $teal-color;
            font-size: 18px;
            pointer-events: none;
            display: flex;
            align-items: center;
        }
    }
}

.footer-wrapper {
    h5 {
        font-size: 17px;
        font-family: 'Gilroy-700', sans-serif;
    }

    p {
        font-size: 15px;
        font-weight: 100;
        font-family: 'Gilroy-400';
    }

    .footer-section {
        margin-right: 30px;

        p {
            margin: 0;
            padding: 0;
            line-height: 28px;
        }
    }

    .footer-icons {
        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: $light-text-color;
            border: 1px solid $light-text-color;
            border-radius: 50%;
            width: 30px;
            height: 30px;

            .bi {
                font-size: 10px;
            }

        }
    }

    .footer-down-text {
        p {
            font-size: 12px;
            font-weight: 300;
        }
    }
}
// Footer section end